.intro1{
    transition: all .2s cubic-bezier(0.215, 0.610, 0.355, 1);
    animation: intro1 5s cubic-bezier(0.215, 0.610, 0.355, 1);
  }
  @keyframes intro1{
    0%,50%{
      opacity: 0;
    }
    50%,100%{
      opacity: 1;
    }
  }
  .alertWifi{
    animation: shadow 1s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
    border-radius: 50%;
  }
  @keyframes shadow{
    0%,50%{
      box-shadow: 0px 0px 0px red;
    }
    50%,100%{
      box-shadow: 0px 0px 32px red;
    }
  }
  .tecnologies{
    width:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .tecnologies li{
    margin: 1vmin;
    border:1px solid white;
    border-radius: 3px;
    padding: 1vmin;
    color:var(--textColor);
  }
  .tecnologies > li img{
    width:32px;
    height:32px;
    border-radius: 3px;
    padding: 1px;
    margin: 0 2vmin;
  }
  .tecnologies > li svg{
    width:32px;
    height:32px;
    border-radius: 3px;
    padding: 1px;
    margin: 0 2vmin;
  }
  .tecnologies li a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .tecnologies li p {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .movilstyle article svg path{
    color:lightgreen;
  }
  .movilstyle article:last-child svg path{
    color:grey !important;
  }

  .lateralIndicators{
    position:fixed;
    right:4%;
    z-index: 9;
    bottom:57px;
    display: flex;
    flex-flow: column;
    transition: all .3s linear;
  }
  .lateralIndicators svg{
    width:48px;
    height:48px;
    border-radius: 50%;
    cursor: pointer;
    margin: .4vmin auto;
    padding: 1vmin;
    color:var(--iconColor);
    background-color: var(--themeColor);
  }
  .whatsapp{
    position: relative;
    z-index:1;
  }
  .whatsapp > svg{
    border: 1px solid var(--effectColor);
    color:whitesmoke;
    background: rgb(52, 173, 52);
  }
  .whatsapp::before{
    content: "Whatsapp!!";
    position: absolute;
    width:340%;
    height:50%;
    top:22%;
    left: -315% ;
    z-index:-1;
    background-color: var(--themeColor);
    border: 1px solid var(--effectColor);
    border-radius: 22px;
    line-height: 2;
    text-shadow: 1px 1px black;
    animation: help 9s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
    animation-delay: 3s;
    overflow: hidden;
    padding: 0 2vmin;
  }
  .gmail{
      position: relative;
      z-index:1;
    }
  .gmail > svg{
      border: 1px solid var(--effectColor);
      background-color: whitesmoke;
      color:rgb(247, 49, 0);
    }
  .gmail::before{
      content: "Contáctenos gratis!!";
      position: absolute;
      width:340%;
      height:50%;
      top:22%;
      left: -315% ;
      z-index:-1;
      background-color: var(--themeColor);
      border: 1px solid var(--effectColor);
      border-radius: 22px;
      line-height: 2;
      text-shadow: 1px 1px black;
      animation: help 9s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
      overflow: hidden;
      padding: 0 2vmin;
    }

    @keyframes help{
      0%,12%{
        width: 0;
        left: 0;
      }
      12%,95%{
        width:340%;
        left: -315% ;
      }
      95%,100%{
        width: 0;
        left: 0;
      }
    }
.flow{
  position:relative;
  margin:0 auto;
  width:72px; 
  height:72px;
  border-radius:50%;
  animation: animated1 7s infinite;
  color:var(--effectColor2);  
}
.flow2{ 
  animation-delay: 5s;
}
    @keyframes animated1{
      0%,4%{
        width:72px;  
        height:72px;
        box-shadow: 0px 0px 0px var(--iconColor);
      }
      4%,8%{
        width:78px;  
        height:78px;
        box-shadow: 0px 0px 27px var(--iconColor);
      }
      8%,12%{
        width:72px;  
        height:72px;
        box-shadow: 0px 0px 0px var(--effectColor);
      }

      12%,100%{
        width:72px;  
        height:72px;
        box-shadow: 0px 0px 0px var(--iconColor);
      }
    }