

::-webkit-scrollbar {
    width: 5px;
    background-color: transparent
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color)
}
.icons {
    width: 24px;
    height: 24px;
}

.flex-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around
}

.flex-nowrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between
}

.icon-button {
    margin: 0 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center
}

.icon-button svg, .icon-button>img {
    width: 24px;
    height: 24px;
    margin: 0 5px
}

.container_posts_1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
    place-content: center;
    place-items: center;
    gap: 10px;
    padding: 10px;
    background: var(--shadow-color);
    width: 100%;
    margin: 0 auto;
    border-radius: 10px
}

@media(min-width:480px) {
    .container_posts_1 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width:640px) {
    .container_posts_1 {
        grid-template-columns: repeat(3, 1fr);
    }
}



.pagination_container {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    place-content: center;
    place-items: center
}

.loader_app, .loader_app_off {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    place-items: center;
    place-content: center;
    background: rgba(0, 0, 0, .3);
    z-index: 9001
}

.loader_app {
    display: grid
}

.loader_app_off {
    animation: loader_off 2s ease;
    display: none
}

@keyframes loader_off {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        display: none
    }
}
@keyframes help {
    0%, 10% {
        text-decoration: underline
    }
    10%, 20% {
        text-decoration: none
    }
    20%, 30% {
        text-decoration: underline
    }
    100%, 31% {
        text-decoration: none
    }
}

@keyframes loader {
    0%, 50% {
        transform: rotate(180deg)
    }
    100%, 50% {
        transform: rotate(360deg)
    }
}