*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    border:none;
    background: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:var(--font-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --primary-color:rgb(252, 165, 3);
    --secondary-color:rgb(92, 99, 158);
    --font-color:rgb(40, 40, 40);
}
button{
    cursor: pointer;
}
header,nav{
    height:60px;
    overflow: hidden;
}
header{
    position: fixed;
    top:0;
    left: auto;
    right:0;
    background-color:rgba(255,255,255, .8);
    box-shadow:0px 1px 2px var(--font-color);
}
header > button{
    display: none !important;
}
nav{
    width:100%;
}
nav > button > b{
    display:none;
}
header,footer{
    width:100%;
    z-index: 1000;
    padding: 0 5vmin;
}
main{
    width:100%;
    max-width: 1280px;
    margin:0 auto;
    padding: 60px 0 10px 0;
}

footer > div{
    min-width:320px;
    text-align: center;
}
footer > div >p{
    padding:5px;
}

footer > div > div > a{
    padding:5px;
    border:1px solid var(--primary-color);
    border-radius: 5px;
}

.icons{
    width:24px;
    height:24px;
    background: transparent;
}
.flex-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.flex-nowrap{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.icon-button{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px;
    margin: 0 5px;
}
.icon-button > b{
    margin: 0 0 0 5px;
    font-size: 14px;
}

.intro{
    position:relative;
    width:100%;
}

.intro > span{
    background-image:url("/img/mancha.svg");
    background-repeat:no-repeat;
    background-size:65% 100%;
    background-attachment:fixed;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.intro > img{
    width:300px;
    height:300px;
    object-fit: contain;
    position: relative;
}
.intro > section{
    max-width: 600px;
    position: relative;
    padding: 0 5px;
}
.intro > section > h1{
    text-align: center;
    margin:5px auto;
    color: var(--secondary-color);
}
.intro > section > span{
    max-width: 330px;
    position: relative;
    margin: 10px auto;
}
.intro > section > span > button{
    width:100px;
    margin: 0 1px;
    text-align:center;
}
.intro > section > span > button > img{
    width:48px;
    height:48px;
    object-fit: contain;
}
.intro > section > span > button > p{
    margin:5px auto;
    color: var(--primary-color);
    text-shadow: 1px 1px var(--font-color);
    letter-spacing: 1px;
}

.intro > div{
    width:100%;
    text-align: center;
    position: relative;
}
.intro > div > a{
    text-align: center;
    position: relative;
    margin: 0 auto;
    width:80px;
}
.web-optimisation > section{
    width:100%;
    text-align: center;
}
.web-optimisation > section > h3{
    text-align: center;
    padding: 5px 0;
    color: var(--primary-color);
}
.web-optimisation > section > p{
    padding: 5px;
}
.web-optimisation > section > img{
    max-height: 200px;
}
.help{
    position:relative;
    animation: help 60s infinite;
    margin: 0 3px;
}

.help::before{
    content: '?';
    width:9px;
    height: 9px;
    position: absolute;
    top:-20%;
    right:-8%;
    font-weight: bold;
    color:white;
    text-align: center;
    background: var(--font-color);
    border-radius: 50%;
    overflow: hidden;
    font-size: 9px;
}
.loader{
    background-color:rgba(255,255,255, .8);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    width:100%;
    height: 100%;
    left: auto;
    right:0;
    top:0;
    z-index: 2000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.loader > img{
    animation: loader 2s infinite;
}
/* Editor styles*/
    #editor{
        width:100%;
        position:relative;
        display:flex;
        flex-flow:row wrap;
        justify-content: space-around;
    }
    
    #container-btns{
        position: fixed;
        right:5px;
        top:65px;
        padding: 10px 2px;
        border-radius: 20px;
        z-index: 10;
        background: rgba(245, 245, 245, 0.897);
        box-shadow: 0px 0px 2px black;
    }
    #container-btns > button{
        padding:5px;
        display: block;
    }
    #editor > div,#editor > section{
        width:100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        position: relative;
        min-height: 300px;
    }
    #editor > section{
        justify-content: flex-start;
    }
    #editor > div > div{
        position:absolute;
        top: 0;
        left: 0;
        right:0;
        bottom:0;
        background:rgba(0, 0, 0, 0.548);
    }
    #editor > div > h1, #editor > div > p{
        width:100%;
        text-align:center;
        color:whitesmoke;
        position: relative;
        padding:0 10px;
        margin: 3px auto;
    }
    #editor > div > p{
        width:70%;
    }
    #editor > div > p:last-child{
        position: absolute;
        right:5px;
        bottom: 5px;
        text-align: right;
    }
    #editor > section > *{
        width:100%;
        color:var(--font-color);
        text-align: justify;
        position:relative;
    }
    #editor > section > h2{
        text-align:center;
        padding:10px 5px;
    }
    #editor > section > p{
        padding: 5px 10px;
    }
    #editor > aside{
        width:100%;
        border-radius: 5px;
        padding: 5px;
        background: rgba(0, 0, 0, 0.233);
        position: relative;
    }
    #editor > aside > span{
        height:40px;
        display: flex;
        flex-flow: column;
        margin:10px 0 ;
    }
    #editor > aside > span > input,#editor > aside > span > label{
        height:20px;
        padding:3px;
        border-bottom:1px solid var(--primary-color);
        width:100%;
        margin: 3px 0;
        transition: all .2s linear;
    }
    #editor > aside > span > input{
        order:2;
    }
    #editor > aside > span > label{
        border:none;
        order:1;
        text-transform: capitalize;
        font-weight: bold;
    }
    #editor > aside > span > input:focus{
        border-bottom:1px solid var(--secondary-color);
    }
    #editor > aside > span > input:focus + label{
        font-size: 11px;
        font-weight: lighter;
    }
    .remove-btn{
        height: 20px;
        width:20px;
        position: absolute;
        right:0;
        top:-20px;
        cursor: pointer;
    }
    #editor > aside, #editor > section{
        margin: 5px auto;
        box-shadow: 0px 0px 2px darkgrey;
    }
    
/*End Editor styles*/
@media(min-width:720px){
    footer > div{
        width: 50%;
    }
    .web-optimisation > section{
        width:33.33%;
    }
    header > button{
        display: flex !important;
    }
    nav{
        width:auto;
    }
    nav > button > b{
        display:block;
    }
    #editor > section{
        width:calc(100% - 350px);
    }
    #editor > aside{
        max-width:320px;
    }
}

@media(min-width:1080px){
    main{
        width:90%;
        max-width: 1280px;
    }
}

@media(min-width:1280px){
    main{
        width:80%;
        max-width: 1280px;
    }
    header,footer{
        padding: 0 8%;
    }
}

@media(min-width:1920px){
    header,footer{
        padding: 0 15%;
    }
}
@keyframes help{
    0%,10%{
        text-decoration: underline;
    }
    10%,20%{
        text-decoration: none;
    }
    20%,30%{
        text-decoration: underline;
    }
    31%,100%{
        text-decoration:none;
    }
}

@keyframes loader{
    0%,50%{
        transform: rotate(180deg);
    }
    50%,100%{
        transform: rotate(360deg);
    }
}