*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    border:none;
    background: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:var(--font-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --primary-color:#ffac00;
    --secondary-color:rgb(80, 95, 228);
    --font-color:rgb(40, 40, 40);
}
button{
    cursor: pointer;
}
header,nav{
    height:60px;
    overflow: hidden;
}
header{
    position: fixed;
    top:0;
    left: auto;
    right:0;
    background-color:rgba(255,255,255, .8);
    box-shadow:0px 1px 2px var(--font-color);
}
.logo-header{
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header > a, header b{
    display: none;
}
nav{
    width:100%;
}

header,footer{
    width:100%;
    z-index: 1000;
    padding: 0 5vmin;
}
main{
    width:100%;
    max-width: 1280px;
    margin:0 auto;
    padding: 60px 0 10px 0;
}

footer > div{
    min-width:320px;
    text-align: center;
}
footer > div >p{
    padding:5px;
}

footer > div > div > a{
    padding:5px;
    border:1px solid var(--primary-color);
    border-radius: 5px;
}

.icons{
    width:24px;
    height:24px;
    background: transparent;
}
.flex-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.flex-nowrap{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.icon-button{
    margin: 0 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.icon-button > b{
    margin: 0 0 0 5px;
    font-size: 14px;
}

.intro{
    position:relative;
    width:100%;
    display:grid;
    grid-template-columns:1fr;
    place-items:center;
    align-content:flex-start;
    align-items: flex-start;
    padding:30px;
}

.intro > span{
    background-image:url("/img/mancha.svg");
    background-repeat:no-repeat;
    background-size:65% 100%;
    background-attachment:fixed;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.intro .image_intro{
    width:300px;
    height:300px;
    object-fit: contain;
    position: relative;
}
.intro > article{
    max-width: 600px;
    position: relative;
    padding: 0 5px;
}
.intro > article > h1{
    text-align: center;
    margin:5px auto;
    color: var(--secondary-color);
}
.intro > article > span{
    max-width: 330px;
    position: relative;
    margin: 10px auto;
}
.intro > article > span > button{
    width:100px;
    margin: 0 1px;
    text-align:center;
}
.intro > article > span > button > img{
    width:48px;
    height:48px;
    object-fit: contain;
}
.intro > article > span > button > p{
    margin:5px auto;
    color: var(--primary-color);
    letter-spacing: 1px;
}

.intro > div{
    width:100%;
    text-align: center;
    position: relative;
}
.intro > div > a{
    text-align: center;
    position: relative;
    margin: 0 auto;
    width:80px;

}
.web-optimisation{
    align-items: flex-start;
}
.web-optimisation > div{
    width:100%;
    text-align: center;
}
.web-optimisation > div > h3{
    text-align: center;
    padding: 5px 0;
    color: var(--primary-color);
}
.web-optimisation > div > p{
    padding: 5px;
}
.web-optimisation > div > img{
    max-height: 200px;
}
.help{
    position:relative;
    animation: help 60s infinite;
    margin: 0 3px;
}

.help::before{
    content: '?';
    width:9px;
    height: 9px;
    position: absolute;
    top:-20%;
    right:-8%;
    font-weight: bold;
    color:white;
    text-align: center;
    background: var(--font-color);
    border-radius: 50%;
    overflow: hidden;
    font-size: 9px;
}
@media(min-width:720px){
    footer > div{
        width: 50%;
    }
    .web-optimisation > div{
        width:33.33%;
    }
    header > a, header b{
        display: flex ;
    }
    nav{
        width:auto;
    }
    .intro{
        grid-template-columns:300px 1fr;
    }

}
@media(min-width:1080px){
    main{
        width:90%;
        max-width: 1280px;
    }
}

@media(min-width:1280px){
    main{
        width:80%;
        max-width: 1280px;
    }
    header,footer{
        padding: 0 8%;
    }
}

@media(min-width:1920px){
    header,footer{
        padding: 0 15%;
    }
}
@keyframes help{
    0%,10%{
        text-decoration: underline;
    }
    10%,20%{
        text-decoration: none;
    }
    20%,30%{
        text-decoration: underline;
    }
    31%,100%{
        text-decoration:none;
    }
}

@keyframes loader{
    0%,50%{
        transform: rotate(180deg);
    }
    50%,100%{
        transform: rotate(360deg);
    }
}