
:root{
    --primary-color:#ffac00;
    --secondary-color:rgb(80, 95, 228);
    --font-color:rgb(78, 78, 78);
    --shadow-color:rgba(240,240,240, 1);
    --theme-color:rgba(0,0,0, 1);
    --background-color:rgb(255, 255, 255);
}
*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
    border:none;
    background: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition:all .2s ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*::-webkit-scrollbar{
    width:5px;
    background-color: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px calc(100vh - 60px);
    height: 100vh;
    overflow: hidden;
}
body{
    background-color: var(--background-color);
}
body *{
    color:var(--font-color);
}
button{
    cursor: pointer;
}
header,nav{
    overflow: hidden;
}
header{
    box-shadow:0px 1px 1px var(--font-color);
}
.logo-header{
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header > .toolbar > a, header b{
    display: none;
}
nav{
    width:100%;
}

header,footer{
    width:100%;
    z-index: 1000;
}
header .toolbar{
    line-height: 3.5;
}
header .toolbar,footer > div, main{
    max-width:960px;
    margin:0 auto;
}
main{
    width:100%;
    margin:0 auto;
    padding: 0 ;
    overflow-y: auto;
    position: relative;
}
footer > div{
    min-width:310px;
    text-align: center;
}
footer > div >p{
    padding:5px;
}

footer > div > div > a{
    padding:5px;
    border:1px solid var(--primary-color);
    border-radius: 5px;
}

.icons{
    width:24px;
    height:24px;
    background: transparent;
}
.flex-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.flex-nowrap{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.icon-button{
    margin: 0 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.icon-button > b{
    margin: 0 0 0 5px;
    font-size: 14px;
}

.intro{
    position:relative;
    width:100%;
    display:grid;
    grid-template-columns:1fr;
    padding:15vmin 3px;
}

.intro > span{
    background-image:url("/img/mancha.svg");
    background-repeat:no-repeat;
    background-size:65% 100%;
    background-attachment:fixed;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.intro .image_intro{
    object-fit: contain;
    position: relative;
}
.intro > article{
    position: relative;
    padding: 0 5px;
}
.intro > article > h1{
    text-align: center;
    margin:5px auto;
    color: var(--secondary-color);
}
.intro > article > span{
    max-width: 380px;
    position: relative;
    margin: 10px auto;
    border-radius:5px;
    padding: 5px 0;
}
.intro > article > span > a{
    width:120px;
    margin: 0 1px;
    text-align:center;
    border-bottom: 1px solid var(--primary-color);
}
.intro > article > span > a:hover{
    border-bottom: 1px solid var(--secondary-color);
}
.intro > article > span > a:hover > p{
    color:var(--primary-color);
    text-shadow: 0px 1px var(--font-color);
}
.intro > article > span > a img{
    width:48px;
    height:48px;
    object-fit: contain;
}
.intro > article > span > a > p{
    margin:5px auto;
    color: var(--font-color);
    font-weight: bold;
    text-shadow: 0px 1px var(--shadow-color);
}

.intro > div{
    width:100%;
    text-align: center;
    position: relative;
}
.intro > div > a{
    text-align: center;
    position: relative;
    margin: 0 auto;
    width:80px;

}
.web-optimisation{
    align-items: flex-start;
}
.web-optimisation > div{
    width:100%;
    text-align: center;
}
.web-optimisation > div > h3{
    text-align: center;
    padding: 5px 0;
    color: var(--primary-color);
}
.web-optimisation > div > p{
    padding: 5px;
}
.web-optimisation > div > img{
    max-height: 200px;
}
.help{
    position:relative;
    animation: help 60s infinite;
    margin: 0 3px;
}

.help::before{
    content: '?';
    width:9px;
    height: 9px;
    position: absolute;
    top:-20%;
    right:-8%;
    font-weight: bold;
    color:white;
    text-align: center;
    background: var(--font-color);
    border-radius: 50%;
    overflow: hidden;
    font-size: 9px;
}
@media(min-width:720px){
    footer > div{
        width: 50%;
    }
    .web-optimisation > div{
        width:33.33%;
    }
    header > .toolbar > a, header b{
        display: flex ;
    }
    nav{
        width:auto;
    }
    .intro{
        grid-template-columns:300px 1fr;
        justify-content: flex-end;
    }
    .intro:nth-child(2n){
        grid-template-columns: 1fr 300px;
    }
}

@media(min-width:1360px){
    header .toolbar,footer > div, main{
        max-width:1280px;
    }
}

@keyframes help{
    0%,10%{
        text-decoration: underline;
    }
    10%,20%{
        text-decoration: none;
    }
    20%,30%{
        text-decoration: underline;
    }
    31%,100%{
        text-decoration:none;
    }
}

@keyframes loader{
    0%,50%{
        transform: rotate(180deg);
    }
    50%,100%{
        transform: rotate(360deg);
    }
}